{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'loja/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'loja/css/estiloBase.css' %}" rel="stylesheet">
    <title>WNP - {% block title %}{% endblock %}</title>
</head>
<body class="container d-flex justify-content-between flex-column">
    <header class="d-flex justify-content-between align-items-center">
            <h1 class="text-center">Wellcome to my Python site</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-secondary" >LOGOUT</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-secondary" >LOGIN</a>
        {% endif %}
    </header>
    <main >
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p class="text-center">Desenvolvido por Wesley Natan Pereira para fins acadêmicos</p>
    </footer>
</body>
<script src="{% static 'loja/js/inputPreco.js' %}"></script>
<script src="{% static 'loja/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</html>